<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    {% stylesheets "@integrated_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">
                    {% trans %}Toggle navigation{% endtrans %}
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{% trans %}Integrated{% endtrans %}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('integrated_word_connector_word_new') }}">
                        {% trans %}Upload word document{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    {% block body %}{% endblock body %}
</div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="{{ asset('/js/bootstrap.js') }}"></script>
{% javascripts "@integrated_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>